h2 {
    font-family: sans-serif;
}

#stage1{
    background-color: lightblue;
}

#stage2 {
    background-color: chocolate;
}

#nothing {
    background-color: darkcyan;
}

#nothing2 {
    background-color: darkseagreen;
}

#windoggo {
    background-color: deepskyblue;
}